container_commands: 
  
    1_download_wkhtmltopdf:
        command: wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm

    2_install_wkhtmltopdf:    
        command: sudo yum install -y wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm

    3_download_the_libpng15_library:
        command: wget https://sourceforge.net/projects/libpng/files/libpng15/older-releases/1.5.15/libpng-1.5.15.tar.gz/download -O libpng-1.5.15.tar.gz

    4_dlibpng15_library_build_it_from_source:
        command: tar -zxvf libpng-1.5.15.tar.gz

    5_cd_to_libpng:    
        command: cd libpng-1.5.15






