#https://majestic.cloud/how-to-install-wkhtmltopdf-on-amazon-linux/

container_commands: 
  
    #step 1 - download and install wkhtmltopdf:
    command: wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm
    command: sudo yum install -y wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm


    #step 2 - download the libpng15 library and build it from source:
    command: wget https://sourceforge.net/projects/libpng/files/libpng15/older-releases/1.5.15/libpng-1.5.15.tar.gz/download -O libpng-1.5.15.tar.gz
    command: tar -zxvf libpng-1.5.15.tar.gz
    command: cd libpng-1.5.15






