#https://majestic.cloud/how-to-install-wkhtmltopdf-on-amazon-linux/
#https://gist.githubusercontent.com/armetiz/bd639d2bf1b009ba4bd15e406781858a/raw/88a7737a179a1185f6110dd8c5564f8755139420/01_1_wkhtmltopdf_dependencies.config

packages:
  yum:
    zlib: []
    fontconfig: []
    freetype: []
    libX11: []
    libXext: []
    libXrender: []
    xorg-x11-fonts-75dpi: []
    xorg-x11-fonts-Type1: []

commands:
  "01-libpng-download":
    command: curl -o /tmp/libpng-1.5.15.tar.gz https://sourceforge.net/projects/libpng/files/libpng15/older-releases/1.5.15/libpng-1.5.15.tar.gz/download
  "02-libpng-extract":
    command: mkdir /tmp/libpng-1.5.15 && tar xzvf /tmp/libpng-1.5.15.tar.gz -C /tmp
  "03-libpng-compilation":
    command: cd /tmp/libpng-1.5.15 && ./configure && sudo make install
  "04-libpng-clean":
    command: sudo rm -rf /tmp/libpng-1.5.15*
